<div class="main" *ngIf = "header">
    
    <div class="main-content">
        <div class="content">
            <img src="assets/img/wtsp main.png" alt="">
            <h1>Keep your phone connected</h1>
        </div>
        <div class="content2">
            <p>WhatsApp connects to your phone to sync messages. To reduce data <br> usage, connect your phone to Wi-Fi.</p>
        </div>
        <hr>
        <div style="display: inline-flex; gap: 1rem;margin-top: 29px; position: absolute; opacity: 0.8; left: 25rem;">
            <span><i class="fas fa-laptop"></i></span>
            <div class="gethere"><span>WhatsApp is available for Windows.</span> <a href="https://www.whatsapp.com/download" target="_blank">Get it here</a>.</div>
        </div>
    </div>    
</div>
<div class="footer" *ngIf = "footer"></div>